Library/
/.vs
/Temp
/Logs
/obj
/.plastic
/Z_OtherProjects/Z_Server/CppPart/.vs
/Z_OtherProjects/Z_Server/CppPart/x64
/Z_OtherProjects/Z_Server/PyPart/.vs
/Z_OtherProjects/Z_Server/PyPart/__pycache__
/Z_OtherProjects/Z_Server/CppPart/Debug
/Z_OtherProjects/Z_Tool/AI/AI/.vs
/Z_OtherProjects/Z_Tool/AI/AI/dataset/mnist
/Z_OtherProjects/Z_Tool/Excel2Cs/build
/Z_OtherProjects/Z_Tool/Excel2Cs/dist
Z_Os.csproj
Z_ObjectAnimator.csproj
Z_Math.csproj
Z_Input.csproj
Z_DesignStyle.csproj
Z_Debug.csproj
Z_DataSystem.csproj
Z_Client.csproj
Z_UnitSystem.csproj
Z_Trick.csproj
Z_Time.csproj
Z_Texture.csproj
Z_String.csproj
Z_Serialize.csproj
Z_ObjectAnimator.csproj
Z_Input.csproj
Z_DesignStyle.csproj
Z_Debug.csproj
Z_DataSystem.csproj
Z_Code.csproj
Z_Client.csproj
Z_UnitSystem.csproj
Z_Trick.csproj
Z_Time.csproj
Z_Texture.csproj
Z_Serialize.csproj
*.cache
Assets/TextMesh Pro/Resources/Fonts & Materials/Alibaba-PuHuiTi-Light SDF.asset
/Packages/com.merry-yellow.code-assist
Z_Mesh.csproj
Z_Audio.csproj
Z_Video.csproj
Z_Plugin.sln
/Z_OtherProjects/Z_Tool/Excel2Cs/.vs/Excel2Cs/v17
/Z_OtherProjects/Z_Tool/Excel2Cs/__pycache__
/Z_OtherProjects/Z_Tool/Excel2Cs/.vs/Excel2Cs/FileContentIndex
/UserSettings/Layouts
Assets/TextMesh Pro/Resources/Fonts & Materials/Alibaba-PuHuiTi-Light SDF.asset
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assets/TextMesh Pro/Resources/Fonts & Materials/Alibaba-PuHuiTi-Light SDF.asset
MerryYellow.CodeAssist.Editor.csproj
/Assets/Samples/Universal RP/13.1.9
