Library/
/.vs
/Temp
/Logs
/obj/Debug
/obj
/.plastic
/Z_OtherProjects/Z_Server/CppPart/.vs
/Z_OtherProjects/Z_Server/CppPart/x64
/Z_OtherProjects/Z_Server/PyPart/.vs
/Z_OtherProjects/Z_Server/PyPart/__pycache__
/Z_OtherProjects/Z_Server/CppPart/Debug
/Z_OtherProjects/Z_Tool/AI/AI/.vs
/Z_OtherProjects/Z_Tool/AI/AI/dataset/mnist
*.cache
/Z_OtherProjects/Z_Tool/Excel2Cs/build
*.cache
/Z_OtherProjects/Z_Tool/Excel2Cs/dist
